<header class="header">
	<div class="header-container">
		<div class="nav">
			{% if page.path == "index.html" %}
			<span class="title">
				<li>
					<a href="/index.html">home</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="/index.html">home</a>
				</li>			
			{% endif %}
			{% if page.path == "archive.html" %}
			<span class="title">
				<li>
					<a href="/archive.html">archive</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="/archive.html">archive</a>
				</li>			
			{% endif %}
			{% if page.path == "category.html" %}
			<span class="title">
				<li>
					<a href="/category.html">category</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="/category.html">category</a>
				</li>			
			{% endif %}
			{% if page.path == "about.html" %}
			<span class="title">
				<li>
					<a href="/about.html">about</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="/about.html">about</a>
				</li>			
			{% endif %}
			{% if page.path == "test.html" %}
			<span class="title">
				<li>
					<a href="/test.html">test</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="/test.html">test</a>
				</li>			
			{% endif %}
		</div>
		<div class="description"> {{ site.motto }} </div>		
		<ul class="social-links">
			<li>
				<a href="https://github.com/{{ site.github_username }}" title="Github">
					<img width="19px" height="19px" src="/images/github.png"/>
				</a>
			</li>
			<li>
				<a href="/feed.xml" title="RSS">
					<img width="19px" height="19px" src="/images/rss.png"/>
				</a>
			</li>
			<li>
				<a href="https://twitter.com/{{ site.twitter_username }}" title="Twitter">
					<img width="19px" height="19px" src="/images/twitter.png"/>
				</a>
			</li>
		</ul>		
	</div>
</header>
